.cartPage {
    display: flex;
    justify-content: space-evenly;
    gap: 45px;
    margin-top: 70px;
}

.itemsSection {
    display: flex;
    flex-direction: column;
    width: 55vw;
    min-height: 200px;
    background-color: lightblue;
}

.itemContainer {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 70px;
    /* width: 58vw; */
    width: 100%;
    background-color: rgb(169, 178, 181);
    min-height: 220px;
}

.gameImage {
    background-repeat: none;
    background-size: cover;
    /* height: 175px; */
    height: 140px;
    aspect-ratio: 1.7/1;
    border-radius: 25px;
    margin-left: 60px;
}

.itemInfoContainer {

}

.quantityAndDelete {
    display: flex;
    align-items: center;
    gap: 30px;
}

.amountInput {
    height: 35px;
    max-width: 35px;
    padding: 5px;
    border-radius: 20px;
    border: none;
    text-align: center;
    background: none;
    font-weight: bold;
}

.amountInput::-webkit-outer-spin-button,
.amountInput::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.incrementBtn, .decrementBtn {
    padding: 3px 6px;
    background: none;
    transition: all ease-in-out 200ms;
    margin: 4px;
    /* border: 2px solid black */
}

.incrementBtn:hover {
    background-color: rgb(196, 246, 208);
}

.decrementBtn:hover {
    background-color: rgb(204, 118, 118);
}

.removeFromCartBtn {
    background: none;
    border: none;
    color: rgb(173, 61, 61);
    font-weight: bold;
}

.removeFromCartBtn:hover {
    /* background-color: beige; */
    opacity: 0.8;
} 



/* checkout section (right side of page: */
.checkoutSection {
    width: 25vw;
    min-height: 200px;
    padding: 20px 30px;
    background-color: lightgoldenrodyellow;
}


.orderListContainer {
    border-bottom: 2px dashed black;
    padding-bottom: 20px;
}

.orderTitle{
    font-size: 35px;
}

.orderItemsList {
    display: flex;
    justify-content: space-between; 
}

.orderItemsList > * {
    margin: 3px 0px;
    font-size: 20px;
}

.itemInfo > * {
    margin: 5px 0px;
}

.itemInfo {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 15px;
    /* background-color: white; */
}

.noItemsMessage {
    border-bottom: 2px dashed black;
    margin-bottom: 10px;
    padding-bottom: 22px;
}

.taxInfo, .shippingInfo, .totalCostInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}

.shippingInfo {
    border-bottom: 2px dashed black;
    padding-bottom: 12px;
}

.taxInfo > * {
    margin-bottom: 5px;
    margin-top: 10px;
}

.shippingInfo > * {
    margin: 5px 0px;
}

.totalCostInfo > * {
    margin: 5px 0px;
    margin-top: 18px;
}

.totalTitle, .totalAmount {
    font-size: 26px;
}


@media (max-width: 1825px) {
    .orderItemsList > * {
        font-size: 17px;
    }

    .taxInfo, .shippingInfo, .totalCostInfo {
        font-size: 19px;
    }
}

@media (max-width: 1645px) {
    .cartPage {
        gap: 20px;
    }

    .gameTitle {
        font-size: 20px;
    }

    .checkoutSection {
        width: 27vw;
    }

    .orderItemsList > * {
        font-size: 15px;
    }

    .taxInfo, .shippingInfo, .totalCostInfo {
        font-size: 15px;
    }
}
