.cartPage {
    display: flex;
    gap: 25px;
}

.itemsSection {
    width: 65vw;
    min-height: 200px;
    background-color: lightblue;
}

.itemContainer {
    display: flex;
    justify-content: space-evenly;
    /* gap: 50px; */
    width: 58vw;
    background-color: rgb(169, 178, 181);
    min-height: 220px;
}

.gameImage {
    background-repeat: none;
    background-size: cover;
    height: 175px;
    aspect-ratio: 1.7/1;
}

.itemInfoContainer {

}

.quantityAndDelete {
    display: flex;
}



/* checkout section (right side of page: */
.checkoutSection {
    width: 27vw;
    min-height: 200px;
    padding: 20px;
    background-color: lightgoldenrodyellow;
}


.orderListContainer {
    border-bottom: 2px dashed black;
    padding-bottom: 20px;
}

.orderItemsList {
   display: flex;
    justify-content: space-between; 
}

.orderItemsList > * {
    margin: 3px 0px;
}

.itemInfo > * {
    margin: 5px 0px;
}

.itemInfo {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 15px;
    /* background-color: white; */
}
