@font-face {
    font-family: berkaFont;
    src: url(./../../assets/BerkaLight-9YGyn.otf);
}


.homePage {
    /* min-height: calc(100vh - 75px); */
    width: 100%;
    /* background-color: rgb(203, 193, 231); */
}

.homeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topSection {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./../../assets/fortnite.jpg);
    background-repeat: none;
    background-size: 100%;
    min-width: 100%;
    min-height: 70vh;
    color: white;
    box-shadow: 0px 3px 10px 0px black;

}

.homeSlogan {
    margin: 0px;
    font-family: berkaFont;
    font-size: 90px;
    text-shadow: 0px 0px 32px black;
}

.bottomSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(203, 193, 231); */
    background-color: rgb(226, 248, 231);
    padding: 30px 30px;
    margin-top: 170px;
    margin-bottom: 130px;
    width: 65vw;
    border: 3px solid rgb(34, 34, 34);
    border: 3px solid rgb(90, 191, 90);
    border-radius: 15px;
    box-shadow: 0px 0px 50px 0px rgb(166, 166, 166);
}

.bottomTitle {
    font-size:40px;
    text-align: center;
    margin-bottom: 8px;
}

.bottomParagraph {
    font-size: 28px;
    text-align: center;
}

.shopBtnContainer {
    padding-top: 35px;
    padding-bottom: 20px;
    transition: all ease-out 250ms;
}

.shopBtnContainer:hover {
    transform: translateY(-6px);
}

.shopBtn {
    background-color: rgb(90, 191, 90);
    padding: 11px;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    color: white;
    border-radius: 15px;
    
}

.shopBtn:hover {
    color: white;
}