.navBarContainer {
    position: relative;
    top: 0;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
    font-size: 22px;
    height: 75px;
    padding: 5px;
    /* background-color: rgb(92, 100, 78); */
    background-color: rgb(34, 34, 34);
}

.siteTitle {
    color: white;
}

.linksContainer {
    display: flex;
    gap: 55px;
}

.navBtn {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.navCartBtn {
    text-decoration: none;
    color: white;
    position: absolute;
    right: 55px;
    font-weight: bold;
}

