.navBarContainer {
    position: relative;
    top: 0;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
    font-size: 22px;
    height: 75px;
    padding: 5px;
    /* background-color: rgb(92, 100, 78); */
    background-color: rgb(34, 34, 34);
}

.siteTitle {
    color: white;
}

.linksContainer {
    display: flex;
    gap: 55px;
}

.navBtn {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.navCartBtn {
    position: relative;
    text-decoration: none;
    color: white;
    position: absolute;
    right: 55px;
    font-weight: bold;
}

/* .cartContainer {
    
} */

.cartIcon {
    position: absolute;
    top: -8px;
    right: 20px;
    margin-bottom: 20px;
    transition: all ease-in-out 200ms;
}

.cartIcon:hover {
    transform: scale(1.03);
}

.cartCounter {
    position: absolute;
    top: -28px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(226, 248, 231);
    width: 1.4rem;
    height: 1.4rem;
    color: green;
    border-radius: 50px;
    font-size: 0.8rem;
    text-align: center;
}

