html, body {
  margin: 0px;
  height: 100%;
}

html {
  width: 100%;
}

body {
  /* min-height: 100%; */
  min-width: 100vw;
}

#root {
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center; */
}


